<div class="flex items-center w-full min-h-screen justify-center bg-white p-8 lg:p-12">
  <div class="w-full max-w-[500px]! flex flex-col gap-6">
    <app-auth-header title="Create Account" />
    <p class="mt-0 text-primary">Verify OTP</p>
    <form (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
      <app-shared-input
        id="email"
        label="Email"
        placeholder="user@example.com"
        type="email"
        /* [(value)]="emailValue" */
      />

      <app-shared-button
        label="Next >"
        bgClass="bg-[#EFF6FF]! text-primary! border border-[#BFDBFE]! hover:bg-[#DBEAFE]!"
        [loading]="isLoading"
      >
      </app-shared-button>

      <app-auth-footer-link
        message="Already have an account?"
        actionText="Login"
        link="/auth/login"
      />
    </form>
  </div>
</div>
