<div class="flex items-center w-full min-h-screen justify-center bg-white p-6 sm:p-8 lg:p-12">
  <div class="auth-form flex flex-col gap-6">
    <app-auth-header
      title="Forgot Password"
      subtitle="Don't worry, we will help you recover your account."
    />

    <div class="flex flex-col gap-5">
      <app-shared-input
        id="email"
        label="Email"
        placeholder="user@example.com"
        type="email"
        [hasError]="true"
        errorMessage="Your email is required"
      />

      <app-auth-error-banner />

      <a routerLink="/auth/password-reset" class="block w-full mt-2">
        <app-shared-button label="Next >" type="button" />
      </a>

      <p class="text-[14px] text-center text-slate-500 font-geist mt-2">
        Don't have an account?
        <a
          routerLink="/auth/register"
          class="text-primary font-[600] hover:underline ml-1 cursor-pointer"
        >
          Create yours
        </a>
      </p>
    </div>
  </div>
</div>
