@if (message) {
  <div class="relative w-full border border-[#f87171] bg-[#fef2f2] px-4 py-4 mt-2">
    <div
      class="absolute left-1/2 -translate-x-1/2 -top-3 w-6 h-6 rounded-full bg-[#ef4444] flex items-center justify-center shadow-sm"
      aria-hidden="true"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="12"
        height="12"
        viewBox="0 0 24 24"
        fill="none"
        stroke="white"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M18 6 6 18" />
        <path d="m6 6 12 12" />
      </svg>
    </div>

    <p class="text-center text-[#ef4444] font-geist text-[14px] font-[500]">{{ message }}</p>
  </div>
}
