:host {
  display: block;
  width: 100%;
  height: 100vh;
}

.icon-primary {
  filter: invert(28%) sepia(91%) saturate(2541%) hue-rotate(217deg) brightness(99%) contrast(99%);
}

.active-nav {
  background-color: #EAF2FF !important;
  color: #155DFC !important;
  border: 1px solid #BFDBFE !important;
  font-weight: 600 !important;
}

.active-nav img {
  filter: invert(28%) sepia(91%) saturate(2541%) hue-rotate(217deg) brightness(99%) contrast(99%) !important;
}
