<div class="flex items-center w-full min-h-screen justify-center bg-white p-6 sm:p-8 lg:p-12">
  <div class="auth-form flex flex-col gap-6">
    <app-shared-steps [totalSteps]="4" [currentStep]="2" />

    <app-auth-header title="Create Account" subtitle="Tell us more about you" />

    <div class="flex flex-col gap-5 w-full">
      <app-shared-input
        id="firstName"
        label="First name"
        placeholder="Ahmed"
        [hasError]="true"
        errorMessage="Your first name is required"
      />
      <app-shared-input
        id="lastName"
        label="Last name"
        placeholder="Abdullah"
        [hasError]="true"
        errorMessage="Your last name is required"
      />

      <app-shared-input
        id="username"
        label="Username"
        placeholder="user123"
        [hasError]="true"
        errorMessage="Your username is required"
      />

      <app-shared-input
        id="phone"
        label="Phone"
        placeholder="1012345678"
        type="tel"
        [hasError]="true"
        errorMessage="Your phone is required"
      />

      <app-auth-error-banner />

      <a routerLink="/auth/register-password" class="block w-full mt-2">
        <app-shared-button label="Next >" type="button" />
      </a>
    </div>
  </div>
</div>
